/* Variables */
$main-color: #f7ac53;

$main-font-family: "Merriweather", serif;
$secondary-font-family: "Open Sans", serif;

/* General Styles */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-weight: 100;
    // transition: 1s all;
}

.container {
    height: 100vh;
    width: 70vw;
    margin: 0 15vw;
    position: absolute;
}

.nav-link {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    font-size: 1.4vh;
    border-radius: 5vh;
    font-weight: 600;

    &:hover {
        color: $main-color;
    }

    &:hover::after {
        color: white;
        margin: 1.2vh;
    }

    &::after {
        content: "→";
        margin-left: 1.5vh;
        color: $main-color;
    }
}

.section-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

    &__title {
        color: $main-color;
        text-transform: uppercase;
        font-size: 1.5vh;

        &::before {
            content: "";
            width: 1px;
            height: 12vh;
            background-color: #f7ac53;
            display: block;
            margin: 0 auto 1vh;
        }
    }
    &__subtitle {
        margin-top: 2.5vh;
        font-family: $main-font-family;
        font-size: 3.5vh;
        width: 40vw;
        line-height: 1.63;
    }
}

.logo {
    font-family: $secondary-font-family;
    border: 0.2vh solid $main-color;
    color: $main-color;
    padding: 1vh 2vh;
    font-size: 2.5vh;
    border-radius: 5vh;
    font-weight: 400;
}

/* Start Section */
.start-section {
    height: 100vh;
    width: 100vw;
    background: url(img/bg.png) no-repeat center center fixed;
    background-size: cover;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 25vh;
    }

    &__title {
        width: 45vw;
        padding: 3vh 0 4vh;
        font-family: $main-font-family;
        font-size: 6vh;
        font-weight: 100;
        line-height: 1.64;
        text-align: center;
        color: #ffffff;
        border: solid 0.1vh #8f8f8f80;

        &_text {
            &-yellow {
                color: $main-color;
            }
        }
    }

    &__services-list {
        list-style: none;
        margin-top: 3vh;
    }

    &__list-item {
        display: inline;
        font-family: $secondary-font-family;
        font-size: 1.5vh;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;

        &:not(:last-child)::after {
            content: "";
            width: 1px;
            height: 1.2vh;
            background-color: $main-color;
            display: inline-block;
            margin: -0.2vh 1vh;
        }
    }

    &__arrow {
        font-size: 3vh;
        align-self: flex-start;
        margin-top: -16vh;

        &:hover::after {
            margin-top: 15vh;
            color: white;
            cursor: pointer;
        }

        &::after {
            content: "⌵";
            color: $main-color;
        }
    }

    &__footer {
        position: absolute;
        display: flex;
        align-self: normal;
        justify-content: space-between;
        transition: all 1s;
        align-items: baseline;
        margin-top: 90vh;
        width: 75vw;
    }
}

/* Services Section */
.services-section {
    height: 100vh;
    width: 100vw;
    background-color: #202020;

    &__list {
        margin-top: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;

        &-item {
            display: flex;
            flex-direction: column;
            margin: 0 7vw;
        }

        &-icon {
            font-size: 2.5vh;
            color: $main-color;
        }

        &-title {
            font-size: 3.7vh;
            margin-top: 3vh;
        }

        &-description {
            font-size: 1.7vh;
            font-family: $secondary-font-family;
            color: #8f8f8f;
            width: 14vw;
            margin: 2.3vh 0;
        }
    }
}

// /* Project Section */
.projects-section {
    height: 100vh;
    width: 100vw;
    background-color: #181818;

    .container {
        display: flex;
        justify-content: center;
    }

    &__carousel {
        list-style: none;
        margin-top: 10vh;
    }

    .carousel {
        &__item {
            display: flex;
            flex-direction: row;

            &__header {
                display: flex;
                flex-direction: column;
                margin-right: 2vw;
            }

            &__category {
                text-transform: uppercase;
                font-size: 15px;
                color: $main-color;

                &::before {
                    content: "";
                    width: 2px;
                    height: 5vh;
                    background-color: #f7ac53;
                    display: block;
                    margin: 0 10px;
                }
            }

            &__title {
            }

            &__preview {
                width: 30vw;
                height: 50vh;
                background-color: #919191;
            }

            &__links {
                display: flex;
                flex-direction: column;
            }
        }

        &__nav {
            list-style: none;
            margin: 3vh 20vw 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__item {
                width: 25px;
                background-color: #5c5c5c;
                height: 2px;
                &--active {
                    background-color: $main-color;
                }
            }
        }
    }
}

/** Testimonials section */
.tetimonials-section {
    height: 100vh;
    width: 100vw;
    background-color: #202020;
}

/** Team section */
.team-section {
    height: 100vh;
    width: 100vw;
    background-color: #181818;
}

/** Contact section */
.contact-section {
    height: 100vh;
    width: 100vw;
    background-color: #222222;
}